
NET "countdown" LOC = T9;
NET "countup" LOC = T10;
NET "timercount" LOC = V8;
NET "timerset" LOC = V9;
NET "alarmcount" LOC = T5;
NET "alarmset" LOC = M8;
NET "clk" LOC = V10;
NET "AN[0]" LOC = N16;
NET "AN[1]" LOC = N15;
NET "AN[2]" LOC = P18;
NET "AN[3]" LOC = P17;
NET "seg[0]" LOC = L14;
NET "seg[1]" LOC = N14;
NET "seg[2]" LOC = M14;
NET "seg[5]" LOC = T18;
NET "seg[6]" LOC = T17;
NET "seg[4]" LOC = U17;
NET "seg[3]" LOC = U18;
NET "reset" LOC = B8;
NET "increase" LOC = A8;